
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Proje Hakkında</h2>

<p>Projeyi Gerçekleştiren : Sait ÇAKIR</p>
<p>Proje Kapsamı: Mvc Yapısı Temelinde Stok Uygulaması Gerçekleştirilmiştir.</p>